/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    position: relative;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*global*/

body,
html {
    font-size: 15px;
}

body {
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: rgb(255, 255, 255);
    font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.3rem;
}

p {
    font-size: 1rem;
}


/*specifics*/


/*nav*/


/*toggle*/

.toggle {
    position: fixed;
    left: 15px;
    top: 15px;
    z-index: 999;
    transition: all .5s;
    background: #000000;
    border-radius: 1000px;
}

.toggle-active {
    background: #0000000a;
}

.menu-toggle {
    transform: translateX(0%);
}

.toggle-icon .menu-icon {
    transform: scale(1);
}

.menu-icon {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.menu-icon .menu-icon__cheeckbox {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    z-index: 2;
    -webkit-touch-callout: none;
    position: absolute;
    opacity: 0;
}

.menu-icon div {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 22px;
    height: 12px;
}

.menu-icon span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}

.menu-icon span:first-of-type {
    top: 0;
}

.menu-icon span:last-of-type {
    bottom: 0;
}

.menu-icon.active span:first-of-type,
.menu-icon .menu-icon__cheeckbox:checked+div span:first-of-type {
    transform: rotate(45deg);
    top: 5px;
}

.menu-icon.active span:last-of-type,
.menu-icon .menu-icon__cheeckbox:checked+div span:last-of-type {
    transform: rotate(-45deg);
    bottom: 5px;
}

.menu-icon.active:hover span:first-of-type,
.menu-icon.active:hover span:last-of-type,
.menu-icon:hover .menu-icon__cheeckbox:checked+div span:first-of-type,
.menu-icon:hover .menu-icon__cheeckbox:checked+div span:last-of-type {
    width: 22px;
}

@media (min-width: 1024px) {
    .menu-icon:hover span:first-of-type {
        width: 26px;
    }
    .menu-icon:hover span:last-of-type {
        width: 12px;
    }
}

header {
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
}

.nav-background {
    position: fixed!important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(133, 75, 2);
    background: linear-gradient(5deg, rgba(133, 75, 2, 1) 0%, rgba(245, 191, 107, 1) 100%);
}

nav {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav>.logo {
    margin-bottom: 10px;
}

nav>div {
    max-width: 80%;
}

nav>div:nth-child(1) {
    text-align: center;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav>div>div {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.profil-logo {
    border-radius: 1000px;
    overflow: hidden;
    width: max-content;
    aspect-ratio: 1/1;
    margin: 0 auto;
}

.profil-logo>img {
    position: relative;
    left: -2px;
    width: 80px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profil-logo,
.account-settings>form>div>label,
.account-settings>form>div>input,
.account-settings>form>div>h2 {
    margin-bottom: 5px;
}

.account-settings {
    max-width: 100%;
}

.account-settings>form>div {
    display: flex;
    flex-direction: column;
}

.account-settings>form>div>label {
    text-align: center;
}

.account-settings>form>div>input {
    border-radius: 1000px;
    border: none;
}

.account-settings>form>div>input:focus {
    outline: none;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    width: 110%;
}

.tags>input {
    position: absolute;
    left: -100000px;
}

.tags>label {
    padding: 5px 12px;
    margin: 5px;
    border-radius: 1000px;
    user-select: none;
    background: #fff;
    color: #000;
    cursor: pointer;
    transition: all .3s;
}

.tags>input:checked+label {
    color: #fff;
    background: #3d3d3d;
}

form>div>div {
    margin-bottom: 5px;
}

form>button {
    padding: 5px 10px;
    border-radius: 1000px;
    background: #3d3d3d!important;
    border: none;
    color: #fff;
}

.registerbtn {
    width: 100%;
    position: relative;
    cursor: pointer;
}

.icon-arrow {
    display: none;
    background: #fff;
    height: 3px;
    width: 30px;
    margin: 0;
    position: relative;
    cursor: pointer;
}

.icon-arrow::before,
.icon-arrow::after {
    content: "";
    background: #fff;
    position: absolute;
    height: 3px;
    width: 15px;
}

.icon-arrow::before {
    right: -3px;
    bottom: -4px;
    transform: rotate(-45deg);
}

.icon-arrow::after {
    right: -3px;
    top: -4px;
    transform: rotate(45deg);
}

.account-profil,
.connexion,
.inscription {
    cursor: pointer;
}

.account-profil {
    
}

.connexion>div>div>a:nth-child(1) {
    font-weight: bold;
}

.inscription>div>div>a:nth-child(2) {
    font-weight: bold;
}

.log-hidden {
    display: none!important;
}



@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

#searchContainer {
    position: relative;
    display: flex-end;
    padding-top: 80px;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #00B4CC;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*main*/

main {
    z-index: 0;
    position: static;
    background: #fff;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main>div {
    width: 90%;
}

.question {
    margin-top: 75px;
    max-width: 100%;
}

.question-container>div {
    border: solid 1px #ededed;
    border-radius: 10px;
    padding: 20px;
    max-width: 525px;
}

.question-container,
.container,
.container:only-child {

    margin: 0 auto;
    max-width: max-content;
}

.my-question,
.all-question {
    position: relative;
    max-height: 45vh;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.question-list {
    max-height: 80%;
    overflow: hidden;
    overflow-y: scroll;
}

.question-list>ul>li {
    margin: 25px 0;
}

.question-list>ul>li,
.question-list>ul>li>ul {
    display: flex;
    justify-content: space-between;
}

.question-list>ul>li>h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.question-list>ul>li>ul>li {
    margin-left: 20px;
}

.info-question {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


/*responsive*/

@media screen and (min-width: 1500px) and (min-height: 745px) {
    body,
    html {
        font-size: 20px;
        background-color: #ededed;
    }
    body {
        max-width: 1920px;
        margin: 0 auto;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    }
    h1 {
        font-size: 3.5rem;
    }
    .toggle {
        display: none;
    }
    header {
        transform: translateX(0%);
        position: relative;
        width: 23.5%;
        max-width: 500px;
        min-width: 275px;
    }
    form>div>div {
        margin-bottom: 5px;
    }
    form>div>h3 {
        margin: 3% 0;
    }
    .profil-logo,
    .account-settings>form>div>label,
    .account-settings>form>div>input,
    .account-settings>form>div>h2,
    .tags>label {
        margin-bottom: 5%;
    }
    .account-settings>form>div>input {
        padding: 4px 20px;
        font-size: 1rem
    }
    nav>.logo {
        margin-bottom: 2.5%;
    }
    form>div:nth-child(2) {
        margin-bottom: 2.5%;
    }
    form>button {
        padding: 15px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .icon-arrow {
        display: block;
    }
    nav>.logo {
        position: static;
    }
    .profil-logo>img {
        position: relative;
        left: -2px;
        width: 90px;
    }
    main {
        position: static;
    }
    .question {
        display: flex;
        justify-content: center;
    }
    .question-container {
        margin: 0 25px;
    }
    .question-container>div {
        max-width: 475px;
    }
}

.questionMark {
    margin: 5px auto;
    border-radius: 15px ;
    padding: 8px;
    width: auto;
    height: auto;
    box-shadow: #3d3d3d !important;
}


@media screen and (max-height: 460px) and (orientation: landscape) {
    nav,
    .nav-menu {
        max-width: 100%;
    }
    nav>.logo {
        position: absolute;
        right: 15px!important;
        top: 15px;
        right: 0;
    }
    form {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    form>div {
        max-width: 50%;
    }
    .registerbtn {
        position: absolute;
        width: 200px;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
}